/* Author=Dzumaratin Damar */
	/* No - Copy Paste */

/* Semuanya dimulai dari sini */
.clear{clear:both;}/* clear float */
img{max-width:100%;}
/*selesai*/
@font-face {
    font-family: 'ambleregular';
    src:url(../font/Amble-Regular-webfont.ttf) format('truetype');
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
}
.wrap {
	width:80%;
	margin: 0 auto;
}

.header {
	top:0%;
	z-index:999;
	width:100%;
	background: #fff;
}

header a{
	text-decoration:none;
	color:#fff;
	font-size: 18px;
}

header ul{
	margin:0px; 
	padding:1px;
	height:8px;
	list-style:none;
} 



.account_desc{
	margin-right:-5px;
	margin-top:-30px;
	float:right;
}
.account_desc li{
	display:inline;
	border-left:1px dotted #CCC;
}
.account_desc li:first-child{
	border:none;
}
.account_desc li a{
	font-size:11px;
	color:#9C9C9C;
	padding:0 10px;
	font-family: 'ambleregular';
}
.account_desc li a:hover{
	color:blue;
}
.header_top {
	padding: 20px 0;
}
.logo {
	float: left;
}

.cart {
	float: right;
	margin-top:-33px;
	margin-right: 22%;

}

/*Banner*/

.banner {
	background:url('../images/banner.jpg') no-repeat 0px 0px;
	background-size:cover;
	min-height:240px;
	padding:45px ;
}
.main-banner {
	background:url('../images/banner.jpg') no-repeat 0px 0px;
	background-size:cover;
	min-height:400px;
	padding:0% 0 0 0;
}
.banner h1 {
	padding:120px 2px 10px;
	text-align:center;
	color:#fff;
	font-size: 25px;
}
.banner p {
	text-align:center;
    color: #fff;
    margin: 10px 0 30px 0;
    font-size: 15px;
}
.banner a {
	margin-left:43%;
	text-decoration: none;
    color: #fff;
    font-size: 17px;
    background-color: #f3c500;
    padding: 10px 20px;
}
.banner a:hover {
	text-align:center;
	background:#01A185;
}


/*Navigasi*/

* {
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
}

li {
	list-style:none;
}

.main-nav {
	
	width:100%;
	background:#4a9ff4;
}

.main-nav a {
	font-size:11px;
	height:20px;
	text-transform:uppercase;
	letter-spacing:.1em;
	color:#fff;
	display: block;
	padding: 10px 0 10px 20px;
	border-bottom: 1px dotted gray;
}
.main-nav a:hover {
	 transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	text-decoration:none;
	background:#3a7fc5;
}
.main-nav ul ul {
	display:none;
}

.main-nav ul li:hover ul {
display: block;
}
	
.head {	
	font-size:15px;
	padding: 10px 0;
	height:27px;
	text-align:center;
	background-color:#b7dbff;
}



/**** HEADER BOTTOM ****/

.header_bottom {
	width:100%;
	background: #44a2ff;
}
.menu {
	margin-left:10%;
	float: left;
}
.menu li {
	float:left;
}
.menu li a {
	font-family: 'ambleregular';
	font-size:0.823em;
	text-transform:uppercase;
	color: #fff;
	display:block;
	padding:16px 20px;
	border-right: 1px ridge #44a2ff;
}
.menu li a:hover{
	border-radius:5px;
	 transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	background:#2e79c4;
}

/**** Search ****/

.search_box {
	float: right;
	border: 1px solid #3C3C3C;
	background: #FFF;
	border-radius: 5px;
	position: relative;
	margin-top:45px;
	margin-right: 28%;
	width:49%;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:10px;
	color: #acacac;
	width:75%;
	padding:10px;
}
.search_box form input[type="submit"] {
	border: none;
	cursor: pointer;
	background: url(../images/sar1.png) no-repeat 0px 7px;
	position: absolute;
	right: 0;
	width: 26px;
	height: 40px;
}
.header_slide{
	margin-top:10px;
}
.header_bottom_left{
	float:left;
	width:25%;
}

.header_bottom_right{
	float:left;
	width:74%;
	padding-left:1%;
}
/***** Content *****/
.content {
	margin-top:3.5%;
	padding: 10px 0;
	background: #FFF;
}


.content_bottom {
	margin-top: 3.5%;
}

.heading2 {
	text-align:center;
}

.heading {
	float: left;
}
.heading h3 {
	font-family: 'ambleregular';
	font-size:17px;
	color:#383838;
	text-transform: uppercase;
}
.see {
	float: right;
	padding-top:8px;
}
.see p a{
	display: inline;
	font-size: 13px;
	color: #333;
    padding:0px 12px 0px 0px;
}
.see p a:hover{
	color: blue;
}
/**** Grid 1_0f_4 ****/
.grid_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
}

.grid_1_of_42 {
	display: block;
	float: left;
	margin: 1% 0 1% 1%;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
}

.grid_1_of_4:first-child {
	margin-left: 0;
}
.images_1_of_4 {
	width: 20.8%;
	padding: 1.5%;
	text-align: center;
	position: relative;
}

.images_1_of_4  img {
	max-width: 80%;
}
.images_1_of_4  h2 {
	color:#6A82A4;
	font-family: 'ambleregular';
	font-size:13px;
	font-weight: normal;
}
.images_1_of_4  p {
	font-size: 10px;
	padding: 0.4em 0;
	color: #333;
}
.images_1_of_4  p span.price {
	font-size: 18px;
	font-family: 'ambleregular';
	color:#CC3636;
}

.price-details> strike {
	margin-top:3px;
	font-size:12px;
	font-family:arial;
	color:gray;
	padding-top: 5px;
	float:left;
}

.price-details{
	margin-top:15px;
	border-top:1px solid blue;
}
.price-number{
	margin-top:-4px;
	font-family:arial black;
	margin-right:12%;
	float: right;
	padding-top: 5px;
}
.price-details p span.rupiah{
	font-size:14px;
	font-family: 'ambleregular';
	color:#383838;
}

.add-cart{
	
	margin-top:4%;
	float:left;
	width:50%;
}
.add-cart h4 a{
	font-size:12px;
	display: block;
	padding:10px 15px;
	font-family: 'ambleregular';
	background:#44a2ff;
	color: #FFF;
	text-decoration: none;
	outline: 0;
}
.add-cart h4 a:hover{
	   transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	  text-shadow: 0px 0px 1px #000;
	  background:#007dc5;
}
/*** Banner Bottom ***/
.container2 {
	
	text-align:center;
	padding-top:0% auto;
	margin-bottom:60px;
}

.banner2 {
	width:100%;
	background-color: #fff;
	margin-top:70px;
}

	

/*** Footer ***/
footer nav ul {
}

footer nav ul li {

	display: inline-block;
	margin-left: 20px;
	list-style: none;
	margin-top:60px;
}

footer ul li a {
	font-family: Lato;
	margin-top: 400px;
	font-size: 14px;
	color:#fff;
	text-decoration:none;
}

footer {
	width:100%;
	height:300px;
	background-color: #323232;
	padding: 70px 0px;
	margin-top:2%;
}


footer>.container {
	padding-top:60px;
	margin-bottom:60px;
}

.induk{
	margin: 2% 0;
}
.content1{
	float: left;
	width: 21.333%;
	margin-left: 4.3333%;
}
.content1:first-child{
	margin-left: 0;
}
.content1 h4{
	font-size: 1.1em;
	color: #ffffff;
}
.f_nav{
	margin-top: 4%;
}

.f_nav li a{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	color: #fefefe;
	line-height: 1.8em;	
	text-transform: capitalize;
}
.f_nav li a:hover{
	color: #828282;

}

footer>.content {
	height:100%;
	padding:0px;
	margin-top:0px;
	margin-left:10%;
	width:80%;
	background-color:#323232;
}

footer>.copyright {
	text-align:center;
	border-top:solid 1px gray;
	color:#fff;
	height:8px;
	position: relative;
	margin-top:-1%;
	background-color: #575757;
	padding:25px 0;
	font-size:10px;
	display:block;
	position:relative;
}

.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}


/*** Detailed ***/
.detail {
	margin-right:-12%;
	float:left;
	width:90%;
	padding:5%;
	background-color:#ffff;
}
.detailitem {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
}

.detail h2{
	margin-left:36%;
	color:#6A82A4;
	font-family: 'ambleregular';
	font-weight: normal;
	text-align: center;
	color: black;
}

.imagesitem {
	float:left;
	margin-left:-6%;
	margin-top:-6%;
	width: 35%;
	padding: 1.5%;
}

.imagesitem  img {
	max-width: 100%;
}

.details> strike {
	margin-left:23%;
	margin-top:4px;
	font-size:15px;
	font-family:arial;
	color:gray;
	padding-top: 5px;
	float:left;
}

.details{
	margin-top:25px;

}
.number{
	margin-top:-10px;
	font-family:arial;
	margin-left:10%;
	padding-top: 5px;
}
.details p span.rupiah{
	margin-left:2%;
	font-size:19px;
	font-family: 'ambleregular';
	color:#383838;
}

.garis {
	text-align:center;
	float:right;
	margin-right:5%;
	background-color:#d0d0d0;
	width:60%;
	height:1.5px;
}

.brand {
	float:right;
	width:65%;
	background-color:#fff;
}

.brand  h4{
	float:left;
	margin-top:auto%;
	margin-left:auto%;
	padding:5px;
	font-size:12px;
	color:gray;
}

.brand span.isi{
	float:left;
	line-height: 1.8em;	
	font-size:14px;
	font-family: 'arial';
}

.add-cart1{
	
	z-index:9999;
	margin-left:10%;
	margin-top:4%;
	float:left;
	width:17%;
}
.add-cart1 h4 a{
	font-size:12px;
	display: block;
	padding:10px 40px;
	font-family: 'ambleregular';
	background:#44a2ff;
	color: #FFF;
	text-decoration: none;
	outline: 0;
}
.add-cart1 h4 a:hover{
	  transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	  text-shadow: 0px 0px 1px #000;
	  background:#d9ae00;
}

.cicilan ul li {
	
	
	font-size:10px;
}

.quantity {
background-color:#fff;
margin:2%;
padding:2%;
width:20%;
float:left;
}

span.actual { 
	color:#1DBAA5;
    font-weight: 700; 
}
span.harga{
	margin-top:2%;
	margin-right:15%;
	float:right;
	font-size: 1em;
}

.jam h4{
	color:gray;
	margin-top:0px;
	text-align:center;
}

.view p a{
	margin-bottom:30px;
	display: inline;
	font-size: 13px;
	color: #333;
    padding:0px 12px 0px 0px;
}
.view p a:hover{
	color: blue;
}

/*** Checkout***/

.label {
	padding:20px;
	margin:0 auto;
	background-color:cyan;
}

.alert {
	color:red;
	padding:20px;
	margin:0 auto;
	border:2px solid #d0d0d0;
	background-color:#fff;
}

.judul {
	text-align:center;
	font-size:100%;
	padding:10px;
	margin:0 auto;
	background-color:#fff;
}

.check{
	float:left;
	background: #FFF;
	margin-top:45px;
	margin-right: 28%;
}

.add-cart2{
	margin-left:10%;
	margin-top:4%;
	float:left;
	width:40%;
}
.add-cart2 h4 a{
	font-size:12px;
	display: block;
	padding:10px 15px;
	font-family: 'ambleregular';
	background:#ff9c00;
	color: #FFF;
	text-decoration: none;
	outline: 0;
}
.add-cart2 h4 a:hover{
	  text-shadow: 0px 0px 1px #000;
	  background:#df8902;
}


/*** Final***/

.inti {
	border:2px solid #c4c3c1;
	padding:20%;
	margin:0%;
	background-color:#ffff;
	width:55%;
}

.inti h2 {
	top:20%;
	font-size:40px;
	text-align:center;
}

/*** Login ***/
.container1{
	width: 400px;
	height: 300px;
	text-align: center;
	background-color:#d2d2d2;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 70px;
}
.container1 img{
	width: 200px;
	height: 90px;
	margin-top: -40px;
	margin-bottom: 30px;
}
.form-input>input{
	height: 25px;
	width: 300px;
	font-size: 12px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 30px;
}
.form-input::before{
	margin-left:5px;
	content: "\f007";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 25px;
}

.login{
	text-align:center;
}
.login li{
	display:inline;
	border-left:1px dotted #373737;
}
.login li:first-child{
	border:none;
}
.login li a{
	font-size:11px;
	color:#3e3e3e;
	padding:0 10px;
	font-family: 'ambleregular';
}
.login li a:hover{
	color:#6b6b6b;
}
button{
	padding:10px;
	width:30%;
	color:blue;
}

/*** register ***/
.container11{
	width: 80%;
	height: 50%;
	text-align: center;
	background-color:#d2d2d2;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 70px;
}
.container11 img{
	width: 200px;
	height: 90px;
	margin-left:-0%;
	margin-top: -40px;
	margin-bottom: 30px;
}
.form-input2>input{
	margin-left:13%;
	float:left;
	height: 25px;
	width: 300px;
	font-size: 12px;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 1%;
}

.nama1 {
	padding:20px;
	font-size:25px;
	margin-top: 0%;
	text-align:center;
	color:black;
}

.register{
	text-align:center;
}
.register li{
	display:inline;
	border-left:1px dotted #373737;
}
.register li:first-child{
	border:none;
}
.register li a{
	font-size:11px;
	color:#3e3e3e;
	padding:0 10px;
	font-family: 'ambleregular';
}
.register li a:hover{
	color:#6b6b6b;
}
.label1 {
	padding:20px;
	margin:0 auto;
	background-color:#0377c8;
}
.label1>h1 {
	text-align:center;
	color:#fff;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.sampingkot {
	background-color:#fff;
	margin:1%;
	padding:1%;
	width:30%;
}



.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {
	background-color: #ff9800;
	width:100%;
} /* Orange */
.warning:hover {background: #e68a00;}


.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}

.btn2 {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 8px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success2 {background-color: #4CAF50;
			border-radius:5px;} /* Green */
.success2:hover {background-color: #46a049;
				border-radius:5px;}

.info2 {background-color: #2196F3;
		border-radius:5px;} /* Blue */
.info2:hover {background: #0b7dda;
			border-radius:5px;}

.warning2 {
	background-color: #ff9800;
	width:30%;border-radius:5px;
} /* Orange */
.warning2:hover {background: #e68a00;
	border-radius:5px;}


.danger2 {background-color: #f44336;} /* Red */ 
.danger2:hover {background: #da190b;}

.default2 {background-color: #e7e7e7; color: black;} /* Gray */ 
.default2:hover {background: #ddd;}
