/* Author=Dzumaratin Damar */
	/* No - Copy Paste */

/* Semuanya dimulai dari sini */
.clear{clear:both;}/* clear float */
img{max-width:100%;}
/*selesai*/
@font-face {
    font-family: 'ambleregular';
    src:url(../font/Amble-Regular-webfont.ttf) format('truetype');
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
}
.wrap {
	width:98%;
	margin: 0 auto;
}

.header {
	top:0%;
	z-index:999;
	width:100%;
	background: #f1f1f1;
}

header a{
	text-decoration:none;
	color:#fff;
	font-size: 18px;
}

header ul{
	margin:0px; 
	padding:1px;
	height:8px;
	list-style:none;
} 



.account_desc{
	margin-right:3%;
	margin-top:-55px;
	float:right;
}
.account_desc li{
	display:inline;
	border-left:1px dotted #CCC;
}
.account_desc li:first-child{
	border:none;
}
.account_desc li a{
	font-size:11px;
	color:gray;
	padding:0 10px;
	font-family: 'arial black';
}
.account_desc li a:hover{
	color:blue;
}
.header_top {
	padding: 20px 0;
}
.logo {
	float: left;
}

.cart {
	float: right;
	margin-top:-33px;
	margin-right: 22%;

}



/*Navigasi*/

* {
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
}

li {
	list-style:none;
}

.main-nav {
	margin:0.5%;
	margin-top:0%;
	border-radius:5px;
	background-color:#ffff;
}

.main-nav a {
	margin:1%;
	font-family:arial;
	font-size:14px;
	height:20px;

	display: block;
	padding: 10px 0 10px 20px;
	color:#4c86c2;
}
.main-nav2 a:hover {
	color:#004f86;
	border-radius:5px;
	text-decoration:none;
	background:#d3d3d3;
}
.main-nav2 ul ul {
	display:none;
}

.main-nav2 ul li:hover ul {
display: block;
}
	
.active {
	margin:0.5%;
	margin-top:0%;
	border-radius:5px;
	background-color:#0096ff;
}

.active a {
	margin:1%;
	font-family:arial;
	font-size:14px;
	height:20px;
	text-transform:uppercase;
	display: block;
	padding: 10px 0 10px 20px;
	color:#fff;
}

.head {	
	margin-top:-5%;
	border-radius:5px;
	font-size:15px;
	padding: 4%;
	text-align:center;
	background-color:#b7dbff;
}

.container {
	margin-top:0.5%;
	float:left;
	width:80%;
	padding:5% % 2%;
	background-color:#ffff;
}

.container h2 {
	margin-top:auto%;
	margin:1%;
	padding:1%;
}

.gambar {
	margin-top:1%;
	float:left;
}

.img-responsive{
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	border:1px solid #c0c0c0;
	margin:0.5%;
	padding:1%;
	border-radius:5px;
}

.user-avatar {
	margin:0%;
	padding:0%;
	margin-top:0%;
}

.sampingkiri {
	float:left;
	background-color:#fff;
	margin:0.5%;
	padding:auto;
	width:18.5%;
	height:900px;
}

/*Table*/

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table2{
  width: 80%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table3{
	width:100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table {
  z-index:999;
  margin-top:0%;
  float:left;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;

}
 
table th {
	border-top:1px solid #e0e0e0;
  padding: 15px 15px;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
}
 
table th:first-child{  
  border-left:none;  
}
 
table tr {
	
  text-align: center;
  padding-left: 20px;
}
 
table td:first-child {
  text-align: left;
  padding-left: 20px;

}
 
table td {
	
  padding: 10px 15px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  background: #ffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
 
table tr:last-child td {
  border-bottom: 0;
}
 
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
 
.wrap>table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {

  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}



.btn {
	margin:0% 0.5% 1%;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 10px 18px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;
		  border-radius:5px;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;
	border-radius:5px;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {
	background-color: #ff9800;
	border-radius:5px;
} /* Orange */
.warning:hover {background: #e68a00;}


.danger {background-color: #f44336;
		border-radius:5px;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}
