/*-- sign-in --*/
.induk2 {
    padding: 14% 0;
    margin-bottom: 40px;
}
.induk3{
	margin:0 auto;
	width:35%;
}
.dewa{
	background:#f9f9f9;
}

.silahkan{
    padding: 0 0 15px;
}
.silahkan h1{
	color:#000;
	margin:0;
	font-size:1.7em;
	font-family:arial;
	font-weight:300;
	text-decoration:none;
}



.log-input input[type="text"],.log-input input[type="password"] {
  font-size: 0.95em;
  padding: 10px 15px 10px 37px;
  width: 98%;
  color: #A8A8A8;
  outline: none;
  border: 1px solid #D3D3D3;
  border-radius:5px;
  margin: 0em 0em 1em 0em;
}
.log-input input.user {
  background: url(../images/user.png)no-repeat 8px 10px #fff;
}
.log-input input.lock {
  background: url(../images/lock.png)no-repeat 8px 10px #fff;
}
.log-input-left {
  float: left;
  width: 90%;
}

.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;
		border-radius:5px;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {
	background-color: #ff9800;
	width:100%;
} /* Orange */
.warning:hover {background: #e68a00;}


.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}


